.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  background: #282c34;
  color: #61dafb;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
}

/* Old website CSS */
/* Desktop Only CSS */
@media only screen and (min-width: 767px) {
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .header {
    position: sticky;
    left: 0;
    width: 100%;
    text-align: center;
    top: 0;
  }
}
.social-icon {
  display: inline-block;
  padding: 5px;
}
.bio {
  padding-top: 10%;
}
.header {
  background-color: #ffffff;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.page-content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}
.footer {
  min-height: 15vh;
}

/* Mobile Only CSS*/
@media only screen and (max-width: 767px) {
  .bio {
    text-align: center !important;
  }
  .headshot {
    text-align: center !important;
    display: inline-block !important;
  }
  .pageMenu {
    display: inline-block !important;
    text-align: left !important;
  }
}

/* Code to match WYSIWYG Editor */

> * + * {
  margin-top: 0.75em;
}

ul,
ol {
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

pre {
  background: #282c34;
  color: #61dafb;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
